<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DoAccount</servlet-name>
        <servlet-class>router.DoAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoHome</servlet-name>
        <servlet-class>router.DoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCategory</servlet-name>
        <servlet-class>router.DoCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoProduct</servlet-name>
        <servlet-class>router.DoProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>router.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCart</servlet-name>
        <servlet-class>router.DoCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoAccount</servlet-name>
        <url-pattern>/DoAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoHome</servlet-name>
        <url-pattern>/DoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCategory</servlet-name>
        <url-pattern>/DoCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoProduct</servlet-name>
        <url-pattern>/DoProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCart</servlet-name>
        <url-pattern>/DoCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
